.gitignore
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop
assets/videos/
!assets/videos/tour_*.mp4
index.sublime-workspace
commitLog.txt
tempfile2.txt

#questions: would log/archive/access.log be ignored? No.
#https://help.github.com/articles/ignoring-files
#https://github.com/github/gitignore
